---
import LayoutBlog from "@/layouts/LayoutBlog.astro";
import SectionContainerBlog from "@/components/blog/SectionContainerBlog.astro";
import HistoryPots from "@/components/blog/HistoryPots.astro";
import SectionLogin from "@/components/blog/SectionLogin.astro";
import SectionAccount from "@/components/blog/SectionAccount.astro";
import BadgeCategorys from "@/components/blog/BadgeCategorys.astro";
import { IconSparkles, IconLayout2 } from "@tabler/icons-react";

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<LayoutBlog title="Blog de Haiver">
    <main class="px-4">
        <h1 class="mb-2 mt-20 flex items-center justify-center space-x-4">
            <span class="text-2xl font-extrabold sm:text-3xl md:text-4xl lg:text-5xl">
                Proximamente
            </span>
            <IconSparkles className="h-full w-8 md:w-10 lg:w-14" />
        </h1>
        <p class="text-pretty text-center text-white/50">
            Blog en desarrollo, pronto estará disponible para todos!
        </p>
        <SectionContainerBlog class="mt-20 justify-center gap-4 md:flex">
            <section class="w-full md:w-[784px]">
                <HistoryPots />
            </section>
            <section class="sticky top-20 mt-6 h-min w-full flex-shrink-0 md:mt-0 md:w-[336px] md:-translate-y-2.5">
                {session ?
                <SectionAccount /> :
                <SectionLogin />}

                <div class="mt-4 rounded-md border-2 border-white/20 bg-white/5 p-3">
                    <h2 class="flex items-center justify-center space-x-2">
                        <span class="text-center text-base font-bold">Categorías</span>
                        <IconLayout2 width={16} height={16} />
                    </h2>
                    <BadgeCategorys />
                </div>
            </section>
        </SectionContainerBlog>
    </main>
</LayoutBlog>