---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import  CopyEmail   from '../components/CopyEmail';
---

<Layout title="Portafolio de Haiver - Desarrollador web junior">
  
  <main class="px-4">
    <SectionContainer class="my-20">
      <h1
        class="w-full text-6xl sm:text-7xl text-purple-200 font-Megrim font-black"
      >
        Hola, soy Haiver
      </h1>
      <!-- Section chamba -->
      <div class="mt-3">
        <span class="text-purple-200">
          <span class="font-bold text-purple-400">Desarrollador</span> web junior
          <span
            class="font-Averia text-green-500 bg-green-500/10 border border-green-500 rounded-md px-2.5 py-0.5 text-sm"
            >Listo para chambear :]</span
          >
        </span>
        <div class="mt-2 sm:mt-0 inline-flex items-center justify-center">
          <span
            class="font-Averia text-yellow-500 bg-yellow-500/10 border border-e-0 border-yellow-500 rounded-s-md px-2.5 py-0.5 text-sm"
          >
            <p class="">devhaiverueda@gmail.com</p>
          </span>
          <CopyEmail client:load/>
        </div>
      </div>
      <div class="mt-10 text-xl sm:text-2xl text-balance max-w-[700px]">
        <p class="text-purple-100 font-Averia">
          Entusiasta del desarrollo web con un enfoque fresco y moderno, Listo
          para sumergirme en nuevos desafíos.
        </p>
      </div>
    </SectionContainer>

    <SectionContainer class="font-Averia">
      <p>
        - Sección Experiencia <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >próximamente...</span
        >
      </p>
      <p class="pt-2">
        - Sección Proyectos <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >próximamente...</span
        >
      </p>
      <p class="pt-2">
        - Blog <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >En un futuro no muy lejano ✨</span
        >
        <div class="ms-1 mt-2 ps-4 border-s-2 border-gray-400">
          <p>Tutoriales</p>
          <p>Tips</p>
          <p>Recursos</p>
        </div>
      </p>
    </SectionContainer>
  </main>
</Layout>
