---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio de Haiver - Desarrollador web junior">
  <main class="px-4">
    <SectionContainer class="my-20">
      <h1
        class="w-full text-6xl sm:text-7xl text-purple-200 font-Megrim font-black"
      >
        Hola, soy Haiver
      </h1>
      <!-- Section chamba -->
      <div class="mt-3">
        <span class="text-purple-200">
          <span class="font-bold text-purple-400">Desarrollador</span> web junior
          <span
            class="font-Averia text-green-500 bg-green-500/10 border border-green-500 rounded-md px-2.5 py-0.5 text-sm"
            >Listo para chambear :]</span
          >
        </span>
        <div class="mt-2 sm:mt-0 inline-flex items-center justify-center">
          <span
            class="font-Averia text-yellow-500 bg-yellow-500/10 border border-e-0 border-yellow-500 rounded-s-md px-2.5 py-0.5 text-sm"
          >
            <p class="">devhaiverueda@gmail.com</p>
          </span>
          <button
            id="btnCopyEmail"
            class="inline-block rounded-e-md text-yellow-500 bg-yellow-500/10 border border-s-0 border-yellow-500 transition hover:bg-yellow-500/20 px-1 py-1"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="mt-10 text-xl sm:text-2xl text-balance max-w-[700px]">
        <p class="text-purple-100 font-Averia">
          Entusiasta del desarrollo web con un enfoque fresco y moderno, Listo
          para sumergirme en nuevos desafíos.
        </p>
      </div>
    </SectionContainer>

    <SectionContainer class=" font-Averia">
      <p>
        - Sección Experiencia <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >próximamente...</span
        >
      </p>
      <p class="pt-2">
        - Sección Proyectos <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >próximamente...</span
        >
      </p>
      <p class="pt-2">
        - Blog <span
          class="font-Averia text-blue-500 bg-blue-500/10 border border-blue-500 rounded-md px-2.5 py-0.5 text-sm"
          >En un futuro no muy lejano ✨</span
        >
      </p>
    </SectionContainer>
  </main>
  <script>
    document
      .getElementById("btnCopyEmail")!
      .addEventListener("click", function () {
        navigator.clipboard.writeText("devhaiverueda@gmail.com");
      });
  </script>
</Layout>
