---

import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import CopyEmail from "../components/CopyEmail";

---

<Layout title="Portafolio de Haiver - Desarrollador web junior">
    <main class="px-4">
        <SectionContainer class="my-20">
            <h1 class="w-full font-Megrim text-6xl font-black text-purple-200 sm:text-7xl">
                Hola, soy Haiver
            </h1>
            <div class="mt-3">
                <span class="text-purple-200">
                    <span class="font-bold text-purple-400">Desarrollador</span> web
                    junior
                    <span class="rounded-md border border-green-500 bg-green-500/10 px-2.5 py-0.5 font-Averia text-sm text-green-500">
                        Listo para chambear :]
                    </span>
                </span>
                <div class="mt-2 inline-flex items-center justify-center sm:mt-0">
                    <span class="rounded-s-md border border-e-0 border-yellow-500 bg-yellow-500/10 px-2.5 py-0.5 font-Averia text-sm text-yellow-500">
                        <p class="">contact@haiver.dev</p>
                    </span>
                    <CopyEmail client:load />
                </div>
            </div>
            <div class="mt-10 max-w-[700px] text-balance text-xl sm:text-2xl">
                <p class="font-Averia text-purple-100">
                    Entusiasta del desarrollo web con un enfoque fresco y moderno, Listo
                    para sumergirme en nuevos desafíos.
                </p>
            </div>
        </SectionContainer>

        <SectionContainer class="font-Averia">
            <p>
                - Sección Experiencia{" "}
                <span class="rounded-md border border-blue-500 bg-blue-500/10 px-2.5 py-0.5 font-Averia text-sm text-blue-500">
                    próximamente...
                </span>
            </p>
            <p class="pt-2">
                - Sección Proyectos{" "}
                <span class="rounded-md border border-blue-500 bg-blue-500/10 px-2.5 py-0.5 font-Averia text-sm text-blue-500">
                    próximamente...
                </span>
            </p>
            <p class="pt-2">
                - Blog{" "}
                <span class="rounded-md border border-blue-500 bg-blue-500/10 px-2.5 py-0.5 font-Averia text-sm text-blue-500">
                    En un futuro no muy lejano ✨
                </span>
                <div class="ms-1 mt-2 border-s-2 border-gray-400 ps-4">
                    <p>Tutoriales</p>
                    <p>Tips</p>
                    <p>Recursos</p>
                </div>
            </p>
        </SectionContainer>
    </main>
</Layout>
