---
    const achievements = [
        "Novato del Blog",
        "Comentarista Inicial",
        "Miembro Registrado",
        "Lector Asiduo",
        "Contribuyente Activo",
        "Escritor Prodigioso",
        "Crítico Expert",
        "Favorito Fiel",
        "Explorador Curioso",
        "Lector Leal"
    ];
    const icons = [
        "amethyst_cluster",
        "book",
        "diamond",
        "emerald",
        "flower_banner_pattern",
        "honey_bottle",
        "knowledge_book",
        "oxeye_daisy",
        "pink_petals",
        "pink_tulip",
        "sunflower_front",
        "allium",
        "grass_block_side",
        "observer_front",

    ]
    const randomAchievement = achievements[Math.floor(Math.random() * achievements.length)];
    const randomIcon = icons[Math.floor(Math.random() * icons.length)];
---



<div class="flex justify-center">
    <div 
        role="alert"
        id="toast"
        class="fixed hidden right-0 top-0 z-50 m-0  h-16 sm:h-20 w-80 sm:w-96 items-center bg-contain bg-center ps-[7px] font-Minecraft text-sm sm:text-base"
        style="background-image: url(/achievements/toast.png)"
    >
        <div class="mx-3 sm:mx-4">
            <img class="w-6 sm:w-8" src=`/achievements/${randomIcon}.png` alt=`${randomIcon}` />
        </div>
        <div class="pt-1 sm:pt-[11px]">
            <p class="text-yellow-achievement">¡Logro desbloqueado!</p>
            <div>{randomAchievement}</div>
        </div>
    </div>
</div>

<script>

    const toast = document.getElementById("toast");

    function laucherToast() {
        setTimeout(function() {

            toast?.classList.add("flex", "animate-slide-enter-achievement")
            toast?.classList.remove("hidden");

        }, 3000);
    }

    function closeToast() {
        setTimeout(function() {
            toast?.classList.remove("animate-slide-enter-achievement");
            toast?.classList.add("animate-slide-exit-achievement")
            
        }, 8000);
    }

    function hiideToast() {
        setTimeout(function() {

            toast?.classList.add("hidden")
            toast?.classList.remove("flex");

        }, 8600);
    }

    laucherToast();
    closeToast();
    hiideToast();

</script>