---
var year = new Date().getFullYear();
---

<footer class="bg-black/20 mt-auto">
    <div class="mx-auto max-w-screen-xl px-4 py-6 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="flex justify-center text-purple-200 sm:justify-start">
          <h2 class="text-xl font-black font-Megrim">
            <span class=" text-sm font-Averia">made whit 💜 by - </span>Haiver
          </h2>
        </div>
  
        <p class="font-Averia mt-2 text-center text-sm text-gray-400 lg:text-right">
          Copyright © {year} - I have all the rights, or at least I think so.
        </p>
      </div>
    </div>
</footer>