---
var year = new Date().getFullYear();
---

<footer class="mx-auto mt-auto w-full bg-black/20 font-Averia text-sm xl:w-[1120px]">
    <div class="mx-auto max-w-screen-xl px-4 py-6">
        <div class="text-center sm:flex sm:items-center sm:justify-between">
            <p class="text-purple-200">
                Desarrollado con 💜 & 
                    <span>
                        <a class="underline hover:text-purple-300" target="_blank" href="https://astro.build/">Astro</a>
                    </span>
                por Haiver.
            </p>

            <p class="mt-2 text-gray-400 lg:text-right">
                © {year} - Todos los derechos reservados... creo.
            </p>
        </div>
    </div>
</footer>