<header class={` sticky top-0 mx-auto flex w-full items-center justify-between px-4 py-5 xl:w-[1120px] `}>
    <span class=" font-Megrim text-xl font-black">Haiver^^</span>
    <nav class={` flex flex-row items-center rounded-md bg-black/20 px-3 py-1 backdrop-blur-2xl `}>
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#inicio">
            Inicio
        </a>
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#experiencia">
            Experiencia
        </a>
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#proyectos">
            Proyectos
        </a>
    </nav>
</header>