---
const logo = "Haiver.dev"
---

<header id="header-nav" class="sticky top-0 mx-auto px-4 py-4 w-full flex justify-center">
    <div class="flex w-full items-center justify-between xl:w-[1120px]">
        <div class="rounded-md bg-black/20 px-3 py-1">
            <span class=" font-Megrim text-xl font-black">{logo}</span>
        </div>
    <nav class="flex flex-row items-center rounded-md bg-black/20 px-3 py-1">
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#inicio">
            Inicio
        </a>
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#experiencia">
            Experiencia
        </a>
        <a class="rounded-md px-3 transition hover:bg-white/10" href="#proyectos">
            Proyectos
        </a>
    </nav>
    </div>
</header>