---
import { IconChevronRight } from '@tabler/icons-react'
import { DataPost } from "@/components/blog/HistoryPots.astro"

---
<div class="grid gap-2 md:grid-cols-2">

    {DataPost.slice(0, 2).map((DataPost) => (
        <article class="relative group border border-gray-border rounded-md p-3 hover:bg-[#ffffff05]">


                <span class="text-sm leading-6 text-color-subtle">
                    <time>{DataPost.date}</time>
                </span>
                <h3 class="line-clamp-2 text-lg font-bold text-color-primary">
                    {DataPost.title}
                </h3>
                <div class="mt-2 mb-4 line-clamp-2 text-pretty text-color-secondary">
                    <p>
                        {DataPost.description}
                    </p>
                </div>

                <a class="text-sm text-color-subtle font-medium group-hover:text-color-primary" href={DataPost.link}>
                    <span class="group-hover:animate-move-left flex items-center">¡Explora más!
                        <IconChevronRight stroke={2.5} className='h-full w-4 overflow-visible ml-1' />
                    </span>
                    <span class="absolute inset-y-0 inset-x-0 animate-none"></span> 
                </a>
        </article>
    ))}
</div>