---
import { IconBrandAngular, IconBrandTailwind, IconSql } from "@tabler/icons-react"
---

<div class="">
    <article class="grid gap-2 md:gap-6 md:grid-cols-2">
        <img src="/proyectos/mesaDeAyuda.webp" alt="" class="rounded-md opacity-80">
        <div class=" flex flex-col justify-between">
            <div class="mb-4">
                <h3 class="flex items-center gap-2 text-xl md:text-2xl">
                    <span class="font-semibold">
                        Mesa de ayuda
                    </span>
                    <span class="text-sm rounded-md px-3 h-min py-0.5 bg-red-500/10 border border-red-500 text-red-500">
                        Recursos reservados
                    </span>
                </h3>
                <p class="mt-2 text-pretty">
                    Sistema interno responsive con panel administrativo, agilizando la resolución de problemas sin necesidad de intervención técnica.
                </p>
            </div>
            <div class="flex flex-wrap gap-2">
                <a href="https://angular.dev/" target="_blank" rel="noreferrer" class="flex items-center border-white/40 bg-white/5 transition-all hover:bg-white/10 space-x-2 cursor-pointer rounded-md border text-sm px-2.5">
                    <span>Angular</span>
                    <IconBrandAngular width={16}/>
                </a>
                <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer" class="flex items-center border-white/40 bg-white/5 transition-all hover:bg-white/10 space-x-2 cursor-pointer rounded-md border text-sm px-2.5">
                    <span>TailwindCSS</span>
                    <IconBrandTailwind width={16}/>
                </a>
                <a href="https://www.sqlite.org/index.html" target="_blank" rel="noreferrer" class="flex items-center border-white/40 bg-white/5 transition-all hover:bg-white/10 space-x-2 cursor-pointer rounded-md border text-sm px-2.5">
                    <span>SQLite</span>
                    <IconSql width={16}/>
                </a>
            </div>
        </div>
    </article>
</div>