---
const Categorys = [
    {
        name: 'TailwindCSS'
    },
    {
        name: 'Astro'
    },
    {
        name: 'React'
    },
    {
        name: 'Css'
    },
    {
        name: 'Node.js'
    },
    {
        name: 'Vue'
    },
    {
        name: 'Sass'
    },
    {
        name: 'Next.js'
    },
    {
        name: 'Web Accessibility'
    },
    {
        name: 'Responsive Design'
    },
];


---
<div class="mt-4 flex flex-wrap gap-2 justify-center">

    {Categorys.map((category)=>(
        <button class={`flex items-center text-xs text-color-secondary border-gray-border space-x-2  rounded-md border px-2.5 py-1`}>
            {category.name}
        </button>
    ))}
</div>