---
const Categorys = [
    {
        name: 'TailwindCss',
        style: 'border-sky-500 hover:bg-sky-500/10 bg-sky-500/5 text-sky-500'
    },
    {
        name: 'Astro',
        style: 'border-orange-500 hover:bg-orange-500/10 bg-orange-500/5 text-orange-500'
    },
    {
        name: 'React',
        style: 'border-teal-500 hover:bg-teal-500/10 bg-teal-500/5 text-teal-500'
    },
    {
        name: 'Css',
        style: 'border-indigo-500 hover:bg-indigo-500/10 bg-indigo-500/5 text-indigo-500'
    },
    {
        name: 'Node.js',
        style: 'border-green-500 hover:bg-green-500/10 bg-green-500/5 text-green-500'
    },
    {
        name: 'GraphQL',
        style: 'border-purple-500 hover:bg-purple-500/10 bg-purple-500/5 text-purple-500'
    },
    {
        name: 'Vue.js',
        style: 'border-yellow-500 hover:bg-yellow-500/10 bg-yellow-500/5 text-yellow-500'
    },
    {
        name: 'Sass',
        style: 'border-red-500 hover:bg-red-500/10 bg-red-500/5 text-red-500'
    },
    {
        name: 'Next.js',
        style: 'border-cyan-500 hover:bg-cyan-500/10 bg-cyan-500/5 text-cyan-500'
    },
    {
        name: 'Web Accessibility',
        style: 'border-green-500 hover:bg-green-500/10 bg-green-500/5 text-green-500'
    },
    {
        name: 'Responsive Design',
        style: 'border-blue-500 hover:bg-blue-500/10 bg-blue-500/5 text-blue-500'
    },
];


---
<div class="mt-4 flex flex-wrap gap-2 justify-center">

    {Categorys.map((category)=>(
        <button class={`border-white/40 hover:bg-white/10 bg-white/5 text-white/50 hover:text-white hover:scale-105 transition-all cursor-pointer rounded-md border text-sm px-2.5`}>
            {category.name}
        </button>
    ))}
</div>
<!-- ${category.style} border-white/40 hover:bg-white/10 bg-white/5 -->