---
import { IconUserCircle, IconLogout2 } from "@tabler/icons-react";
import { SignOut } from "auth-astro/components";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<div class="relative rounded-md border-2 border-white/20 bg-white/5 p-3">
  <div class="absolute top-0 right-0 m-2">
    <span class="relative flex h-2 w-2">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
      ></span>
      <span class="relative inline-flex rounded-full h-2 w-2 bg-sky-500"></span>
    </span>
  </div>
  <h2 class="flex items-center justify-center space-x-2">
    <span class="text-center text-base font-bold">Perfil</span>
    <IconUserCircle width={16} height={16} />
  </h2>
    <div class="flex items-center justify-center space-x-2">
        <img
        class="h-12 w-12 rounded-full"
        src={session?.user?.image}
        alt="Foto de perfil"
        />
        <div class="text-left">
        <p class="text-sm font-bold">{session?.user?.name}</p>
        <p class="text-xs text-gray-400">{session?.user?.email}</p>
        </div>
    </div>
    <div class="mt-4">
        <SignOut class="flex items-center justify-center space-x-2 rounded-md px-3 py-2 text-sm font-semibold border-white/40 transition-all duration-300 hover:bg-white/20 bg-white/15">
            <IconLogout2 width={20} height={20} />
            <span>Cerrar sesión</span>
        </SignOut>
    </div>
</div>
